@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,100;1,300&display=swap");
.listMovie {
  padding: 60px 150px;
}
@media only screen and (max-width: 575px) {
  .listMovie {
    padding: 130px 5px;
    padding-bottom: 10px;
  }
}
@media only screen and (min-width: 577px) and (max-width: 767px) {
  .listMovie {
    padding: 130px 5px;
    width: 100%;
    padding-bottom: 10px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
  .listMovie {
    padding: 30px 5px;
    width: 100%;
  }
}
@media only screen and (min-width: 993px) and (max-width: 1199px) {
  .listMovie {
    padding: 30px 30px;
    width: 100%;
  }
}
.listMovie .container #listMovieTab .nav {
  justify-content: center;
}
.listMovie .container #listMovieTab .nav .nav-item {
  transition: all 0.2s;
  border: none;
}
.listMovie .container #listMovieTab .nav .nav-item .nav-link {
  color: #fff;
  background: none;
  font-size: 24px;
  font-weight: 500;
  transition: all 0.1s;
  border: none;
  transform: scale(1);
}
.listMovie .container #listMovieTab .nav .nav-item .nav-link.active {
  color: #60c5ef;
  font-size: 24px;
  font-weight: 500;
}
.listMovie .container #listMovieTab .nav .nav-item .nav-link:hover {
  transform: scale(1.1);
}