.hinh_thang {
  border-bottom: 50px solid #fff;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  height: 0;
  width: 100%;
}
.ghe {
  width: 35px;
  height: 35px;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px;
  background-color: #fff;
}
.gheDaDat {
  background-color: red !important;
  cursor: no-drop;
}
.gheDangDat {
  background-color: green !important;
}
.gheVip {
  background-color: orange;
}
.gheDaDuocDat {
  background-color: yellow !important;
}
